html {
  background: #ffffff;
}

html, button, select {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

button {
  border: none;
  background: #e1f7d5;
  padding: 5px;
}

h2 {
  margin: 5px 0px;
}

h3 {
  margin: 2px 0px;
}

button, select {
  font-size: 16px;
}

.game-form {
  display: flex;
  align-items: center;
}

.game-form select, .game-form button {
  margin: 10px;
}

header {
  text-align: center;
  margin-bottom: 5px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  margin: 0px;
}

.arrow-buttons {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 10px;
}

.arrow-button {
  height: 50px;
  width: 50px;
  margin: 2px 0px;
}

.pause-note {
  display: none;
}

canvas {
  width: 400px;
  border: 6px solid yellow;
}

